<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302337295701-9qag8cm195filt0ibqvpkedtn0vf0uro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302337295701-9qag8cm195filt0ibqvpkedtn0vf0uro</string>
	<key>API_KEY</key>
	<string>AIzaSyDs5P2Utt0HOQ1lIP_hqox8GriplEjUdxc</string>
	<key>GCM_SENDER_ID</key>
	<string>302337295701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kibTask</string>
	<key>PROJECT_ID</key>
	<string>kibtask</string>
	<key>STORAGE_BUCKET</key>
	<string>kibtask.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302337295701:ios:6d89156f25e77a76415bdc</string>
</dict>
</plist>